@using BestMovies.Shared.Dtos.Movies

<MudPaper Class="d-flex flex-column gap-2 pa-2" Style="background-color: transparent;" Elevation="0">
    @if (Title is not null)
    {
        <MudText Typo="Typo.h6" Align="Align.Start"> @Title </MudText>
    }
    
    <div class="d-flex flex-row justify-start gap-4" style="overflow-x: auto">
        @if (Movies is null || !Movies.Any())
        {
            for (var i = 0; i < SkeletonCardsCount; i++)
            {
                <MudCard Outlined="true">
                    <MudSkeleton Class="rounded" SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="@($"{CardHeight}px")" Width="@($"{CardWidth}px")" />
                </MudCard>
            }
        }
        else
        {
            foreach (var movie in Movies)
            {
                <MovieCard Movie="movie" Width="@CardWidth" Height="@CardHeight"/>
            }
        }
    </div>
</MudPaper>


@code {
        private const int CardHeight = 220;
        private const int CardWidth = 320;

    [Parameter]
    public string? Title { get; set; } 
    
    [Parameter] 
    public IEnumerable<SearchMovieDto>? Movies { get; set; }

    [Parameter] 
    public int SkeletonCardsCount { get; set; } = 4;
}